@tailwind base;
@tailwind components;
@tailwind utilities;

.blink {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.clickEffect {
  animation: colorChange 0.5s forwards;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

@keyframes colorChange {
  0% {
    background-color: initial;
  }
  100% {
    background-color: #838cf136;
  }
}

.card {
  @apply flex flex-col gap-4 cursor-pointer bg-gray-800/40 text-gray-400 rounded-xl hover:bg-gray-700/30 hover:-translate-y-2 hover:shadow-lg hover:shadow-indigo-400/65;
}
